<style>
  /* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 100%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 38; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #fff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.1s; /* 0.5 second transition effect to slide in the sidebar */
  display: none;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none!important;
  color:#333!important;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
#debug{
          background: #ddd;
          border: 1px solid #c0c0c0;
          position: absolute;
          top: 100px;
          right:0px;
          width: 50px;
          height: 50px;
          padding: 5px;
          font-weight: bold;
          cursor: pointer;
        }
</style>
<div id="sidebar" class="sidebar" data-html2canvas-ignore>
  <a href="javascript:void(0)" class="closebtn" onclick="$('#sidebar').hide()">&times;</a>
  <div class='container'>
    <div name="SPICE"></div>
  </div>
</div>